.navbar-custom {
    background-color: black;
}
.navbar-custom .navbar-brand, .navbar-custom .nav-link {
    color: white;
}
/* Menambahkan jarak antar item navbar */
.navbar-nav .nav-item {
    /* Sesuaikan jarak sesuai keinginan */
    margin-left: 180px;
}

.nav-link.active {
    font-size: 50px;
}
/* Opsional: Mengubah warna navbar */
.navbar-custom {
    background-color: black; /* atau warna lain sesuai keinginan */
}

.form-group {
    width: 55%;
    margin-left: 300px;
}

.form-control {
    border-width: 4px;
    border-color: black;
    background-color: #f2f2f2;
}

.btn-primary {
background-color: red;
border-color: red;
}



.navbar-toggler {
background-color: white;
}
@media (max-width: 768px) {
.navbar-nav .nav-item {
margin-left: 0; /* Mengurangi jarak antar item navbar pada layar kecil */
}
.form-group {
width: 100%; /* Menyesuaikan lebar form pada layar kecil */
margin-left: 0; /* Mengurangi margin pada layar kecil */
}
.navbar-collapse {
padding-left: 0; /* Mengurangi padding pada menu dropdown navbar */
}
}

@media (max-width: 576px) {
.navbar-custom .navbar-brand, .navbar-custom .nav-link {
font-size: 14px; /* Mengurangi ukuran font pada navbar pada layar sangat kecil */
}
.form-group {
width: 100%; /* Menyesuaikan lebar form pada layar sangat kecil */
margin-left: 0; /* Mengurangi margin pada layar sangat kecil */
}
}

@media (max-width: 400px) {
.navbar-custom .navbar-brand {
font-size: 12px; /* Mengurangi ukuran font brand pada layar sangat kecil */
}
}
